.asset-page {
    margin: 120px;
}

.asset-page-banner {
    margin-top: 20px;
    height: 878px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.asset-page-banner h1{
    font-size: 76px;
    font-style:oblique;
}

.asset-page-banner h2 {
    font-size: 45px;
    font-style: oblique;
}
.asset-page-banner img {
    width: 80%;
    margin-top: 40px;
}

.asset-expression-area {
    margin-top: 200px;
    width: 100%;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 60px;
    font-weight: 400;
    font-family: monospace;
}

.asset-class-area-blocks {
    margin-top: 60px;
    margin-left: 150px;
    padding: 20px;
    width: 80%;
    height: 400px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(247, 240, 240);
    border: 1px solid rgb(225, 221, 221);
    border-radius: 30px;
}

.asset-class-area-blocks img {
    margin-right: 80px;
}

.market-at-foot-step {
    margin: 30px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    text-align: justify;
}

.market-at-foot-step  h1{
    font-size: 50px;
    font-weight: 500;
}

.market-at-foot-step h3 {
    font-size: 30px;
    font-weight: 200;
}

.market-at-foot-step button{
    background-color: rgb(218, 210, 210);
    width: auto;
    height: 40px;
    padding: 5px;
    margin: 30px;
    border: 1px solid rgb(206, 194, 194);
    border-radius: 30px;
    font-size: 15px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 300;
}

.market-at-foot-step button:hover {
    box-shadow: 4px 4px rgb(199, 195, 195);
    font-weight: bold;
}
